# Langchain and AI Model Libraries
pypdf
langchain
langchain-community
langchain-google-genai

# Vector Store
faiss-cpu
pandas

# API Server
fastapi
uvicorn[standard]
python-multipart

# Configuration
pydantic
pydantic-settings

python-dotenv
sentence-transformers
